*{
  padding: 0;
  margin: 0;
}



#userList {
  margin-top: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin-left: 10px;
}

header button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}

header button:hover {
  background-color: #45a049;
}

#adiciona {
  width: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 76vh;
  display: flex;
  flex-wrap: wrap;
}


#adiciona {
  position: fixed;
  background-color: white;
  padding: 20px;
  border: 1px solid black;

}

.primeiro{
  margin: 13vh 2vw 0 0;
}

.segundo{
  margin: 13vh 0 0 0;
}

.botao{
  position: absolute;
  height: 6.5vh;
  margin: 64.4vh 0 0 12.6vw;
}

#adiciona label {
  display: block;
  margin-bottom: 5px;
}

.close{
  height: 5vh;
  position: absolute;
}

#adiciona input[type="text"] {
  width: 15vw;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#adiciona button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#adiciona button:hover {
  background-color: #45a049;
}

#adiciona button.close {
  background-color: #f44336;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

#adiciona button.close:hover {
  background-color: #cf2e23;
}

.posto {
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.posto p {
  font-weight: bold;
}

.titulo {
  display: flex;
}

.dialogButton,
.deleteButton {
  padding: 8px 12px;
  margin-right: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dialogButton:hover {
  background-color: #007bff;
  color: #ffffff;
}

.deleteButton:hover {
  background-color: red;
  color: #ffffff;
}

.botoes {
  margin-top: 10px;
}

.dialog{
  display: none;
  background-color: white;
  border: solid black 1px;
  border-radius: 10px;
  width: 20vw;
}